* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.heading {
  height: 50px;
  width: 100%;
  background-color: #ff9a4b;

}

.footing {
  height: 50px;
  width: 100%;
  background-color: #aaa;

}

.box{
  margin: 50px auto;
  width: 960px;
  display: flex;
  justify-content: center;
}

.box1 {
  background-color: #eee;
  width: 300px;
  margin-right: 30px;
  position: relative;
  padding:10px;
}

.step1 {
  background-color: #ff9a4b;
  color: #eee;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.image1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}
.midasi1{
  padding-top: 15px;
  padding-bottom: 5px;
}

.image2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.image3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}


@media screen and (max-width: 768px) {

  .box{
    display:block;
    width: 100%;
  }

  .box1{
    width: 90%;
    margin-bottom: 20px;
    margin: 50px auto;

  }

}
